
 <app-menu></app-menu>
 <div>
   <router-outlet></router-outlet>
     <app-header></app-header>
 </div>


<div class="content-wrapper">
  <!-- ADD DATA button -->
  <div class="table-header">
    <button class="add-data-btn" [routerLink]="['/add']">ADD DATA</button>
  </div>

  <!-- No data message -->
  <div *ngIf="data.length === 0" class="no-data-msg">
    <p>No data available. Click 'ADD DATA' to create one.</p>
  </div>

  <!-- Table -->
  <div class="table-wrapper" *ngIf="data.length > 0">
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Enrollment</th>
          <th>Program</th>
          <th>Date</th>
          <th>Remarks</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.FullName }}</td>
          <td>{{ item.Enrolment }}</td>
          <td>{{ item.program }}</td>
          <td>{{ item.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ item.remarks }}</td>
          <td>
<button *ngIf="item.id != null" class="edit" (click)="navigateToEdit(item.id)">
  Edit
</button>
<button *ngIf="item.id != null" class="delete" (click)="deleteItemById(item.id)">
  Delete
</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
